---
import "@fontsource/mulish";
import "../styles/index.css";
import "@fortawesome/fontawesome-free/css/all.css";
import { ImageSupportDetection } from "astro-imagetools/components";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string;
  description?: string;
  keywords?: string;
  author?: string;
  pageUrl?: string;
}
const defaultDescription =
  "Pascal Kraupner - Full Stack Web Developer | Portfolio";
const defaultKeywords =
  "Pascal Kraupner, software engineer, web development, full stack developer, portfolio";
const defaultAuthor = "Pascal Kraupner";
const defaultPageUrl = "https://www.pascalkraupner.dev";
const defaultTitle = "Pascal Kraupner - Full Stack Web Developer | Portfolio";

const {
  title = defaultTitle,
  description = defaultDescription,
  keywords = defaultKeywords,
  author = defaultAuthor,
  pageUrl = defaultPageUrl,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="author" content={author} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="google-site-verification"
      content="BeQBXsjQht_qeS6AlAZnrz2t0J0YHLxbqWkmqwyt1SY"
    />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={pageUrl} />
    <meta property="og:image" content="/img/logo.png" />


    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#7af500">

    <title>{title}</title>
    <ImageSupportDetection />
  </head>
  <body
    class="bg-primary text-primary text-base font-['Mulish'] flex flex-col min-h-screen"
  >
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
